<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Edit Cliente</title>
</head>
<body>
	<h1>Modifica i dettagli di un cliente</h1>
	<form action="#" th:action="@{/clienti/aggiornacliente/{id}(id=${cliente.id})}" th:object="${cliente}" 
	method="post">
	
	<p>
			Ragione sociale: <input type="text" th:field="*{ragioneSociale}" />
		</p>

		<p>
			Partita IVA: <input type="text" th:field="*{partitaIva}" />
		</p>

		<p>
			Email: <input type="email" th:field="*{email}" />
		</p>

		<p>
			Fatturato annuale: <input type="text" th:field="*{fatturatoAnnuale}" />
		</p>

		<p>
			PEC: <input type="text" th:field="*{pec}" />
		</p>

		<p>
			Telefono: <input type="text" th:field="*{telefono}" />
		</p>

		<p>
			Email contatto: <input type="email" th:field="*{emailContatto}" />
		</p>

		<p>
			Nome contatto: <input type=text th:field="*{nomeContatto}" />
		</p>

		<p>
			Cognome Contatto: <input type="text" th:field="*{cognomeContatto}" />
		</p>

		<p>
			Telefono Contatto: <input type="text" th:field="*{telefonoContatto}" />
		</p>

	<!--	<p>
			Tipo Cliente: <input type="text" th:field="*{tipoCliente}" />
		</p>

		<p>
			Sede Legale: <input type="text" th:field="*{sedeLegale}" />
		</p>

		<p>
			Sede Operativa: <input type="text" th:field="*{sedeOperativa}" />
		</p>-->
		<br>

  

	<p>
		<input type="submit" value="Submit" /> <input type="reset" value="Reset" />
	</p>
	
	
</form>
	<a href="/clienti">Lista Clienti</a>
</body>
</html>