<html>
<head>
<title>Epic Energy Services</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" th:href="@{/css/layout.css}" />
</head>
<body>
	<div class="header-menu">Epic Energy Services Home Page</div>
	<div class="container-menu">
		<div class="item-menu">
			<a href="/comuni/mostraelenco"><h2>Elenco Comuni</h2></a> 
		</div>
		<div class="item-menu">
			<a href="/province/mostraelenco"><h2>Elenco Province</h2></a>
				</a>

		</div>
		<div class="item-menu">
			<a href="/clienti/mostraelenco"><h2>Elenco Clienti</h2></a> <a
				href="/clienti/mostraformaggiungi">Aggiungi clienti </a>
		</div>


		<
	</div>
	<div class="footer">Powered Semmy</div>
</body>
</html>